################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Metroidvania_CS1666/v16/Browse.VC.db-shm
